.ConfirmOuter {
  z-index: 9999;
}

.Confirm {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 700rem;
  height: 300rem;
  border-radius: 20px;
  background-color: #fff;
}

.ConfirmText {
  font-size: 36rem;
}

.Ok,
.Cancel {
  width: 180rem;
  height: 60rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #fff;
  font-size: 28rem;
}

.Ok {
  background-color: #fcbf49;
  border: none;
  margin-left: 50rem;
}